<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Movies Watch List</h1>
        </div>
    </div>
    {{#each movies}}
        <h3>{{id}}. {{movie}}</h3>
        <a href="/movies/{{id}}" class="btn btn-link">View Details</a>
        <button class="btn btn-danger" data-id={{id}}>Delete</button>
    {{/each}}
</div>